.home {
  display: grid;
  grid-template-columns: 1fr 7fr 3fr 1fr;
  gap: 20px;
  padding-top: 50px;
}
.homeMain,
.homeAside {
  grid-column: 2 / 4;
  padding: 0;
  padding-top: 10px;
  box-sizing: border-box;
  transition: all 0.3s linear;
}

.mainContent {
  height: 100%;
  min-height: 200px;
  transition: all 0.5s ease-in-out;
}
.card {
  background: url("../images/bg-azul.jpg");
}
.card .cardContent {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.cardTop img {
  width: 100px;
}
.cardTop h3 {
  font-size: 2.5rem;
  margin: 0;
  margin-left: 10px;
}
.cardBottom {
  font-size: 1.5rem;
}
.listStates .cardTop img {
  width: 40px;
}
.listStates .cardTop h3 {
  font-size: 1.3rem;
}
.btnLatestNews {
  width: 100%;
  background-color: var(--text-green);
  padding: 5px;
  font-size: 1rem;
  border-radius: 10px;
}
.btnLatestNews a {
  color: blue;
  font-weight: bold;
}
aside .card {
  height: 200px;
  max-height: 200px;
  width: 100%;
  overflow: hidden;
  /* background: none; */
}
aside .listNews {
  color: #fff;
}
aside .card div a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}
aside .card div a img {
  width: 100%;
  height: 100%;
}
aside .card div a h3 {
  font-size: 1rem;
  position: absolute;
  top: 70%;
  padding: 0 10px 10px 10px;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8) 50%);
}
@media only screen and (min-width: 600px) {
  .homeMain {
    grid-column: 2 / 3;
  }
  .homeAside {
    grid-column: 3 / 4;
  }
}
