.pageNews {
  display: grid;
  grid-template-columns: 0.75fr 5fr 2fr 0.75fr;
  gap: 5px;
  /* grid-template-rows: auto auto; */
}
.news {
  position: relative;
  grid-column: 2 / 3;
}
.highlights {
  grid-column: 2 / 3;
  font-size: 2rem;
}

.latest {
  grid-column: 3 / 4;
  font-size: 2rem;
}
.covid {
  grid-column: 2 / 3;
  font-size: 2rem;
}
.highlighted,
.latest,
.covid {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}
.highlighted::before,
.latest::before,
.covid::before {
  content: "";
  display: inline-block;
  width: 130px;
  height: 20px;
  background-image: linear-gradient(to right, #fff, transparent);
}
.newsThumbs {
  position: relative;
  grid-column: 2 / 3;
  padding: 0;
  margin: 0;
}
.newsThumbs ul {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
}
aside {
  grid-column: 3/4;
  padding: 0 5px;
}
