body {
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #fff;

  --text-yellow: rgb(255, 255, 0);
  --text-green: rgb(18, 230, 18);
}
.yellow {
  color: var(--text-yellow);
  text-shadow: 0 0 1px #fff;
}
.green {
  color: var(--text-green);
  text-shadow: 0 0 1px #fff;
}
.homeContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(2, 3fr) repeat(2, 1fr);
  justify-content: center;
  width: 100vw;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
}
li {
  display: flex;
  align-items: center;
}
.listStates li .card {
  font-size: 1rem;
  margin: 10px;
  flex: 1;
  flex-direction: column;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.cardTop img {
  margin-right: 10px;
  width: 50px;
}
.cardTop h3 {
  margin: 0;
}
